numpy
click
Flask>=2.2.5
Pillow
Flask-Login
Flask-SocketIO
Flask-WTF
gevent
itsdangerous
Jinja2
MarkupSafe
Werkzeug
passlib
python-engineio
python-socketio
setuptools
argparse
viivakoodi
qrcode
pyzbar
opencv-python-headless
imutils
aiohttp
aiortc
