numpy
click==7.1.2
Flask==2.2.5
Pillow==10.3.0
Flask-Login==0.4.1
Flask-SocketIO==3.3.2
Flask-WTF==0.14.2
gevent==23.9.0
image==1.5.32
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==23.0.0
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.1
Werkzeug==3.0.6
passlib==1.7.1
python-engineio==4.12.2
python-socketio==5.14.0
setuptools==78.1.1
argparse==1.4.0
viivakoodi==0.8.0
qrcode==6.1
pyzbar==0.1.8
opencv-python==4.8.1.78
imutils==0.5.3
aiohttp==3.13.3
aiortc==1.0.0
flask-googlemaps==0.4.1
